* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

#header{
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}

#header-links{
    display: flex;
    font-size: 20px;
    gap: 20px;
}

