* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

#header{
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}

#header-links{
    display: flex;
    font-size: 20px;
    gap: 20px;
}

#hero{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 100px 150px;
    flex-wrap: wrap;
}

#hero h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    padding: 0;
    min-width: 400px;
    
}

#hero div{
    flex: 1 1 400px;

}

#hero p {
    display: flex;
    flex-shrink: 0;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    margin-bottom: 0.5em;
}

#hero button{
    font-size: large;
    font-weight: 500;
    background-color: #3882F6;
    color: white;
    border-style: none;
    padding: 8px 24px;
    border-radius: 8px;
}

#hero-image-frame{
    display: flex;
    flex: 0;
    justify-content: center;
    background-color: grey;
    color: white;
    padding: 8em 200px;
    min-width: 150px;
    max-width: 150px;
}

#hero-image-frame img{
    display: flex;
    color: white;
    flex-shrink: 0;
}

#hero-inner{
    max-width: 800px;
}




