* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

h2{
    font-size:36px;
    color: #1F2937;
    font-weight: 900;
    padding: 0;
    margin-top: 0;
}


#header, #hero, #information, #quote, #sign-up, #footer{
    max-width: 1280px;
    margin: 0 auto;
    padding-inline: 24px;
}



#header-section, #hero-section{
    background-color: #1F2937;
}

#header{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

#header-links{
    display: flex;
    font-size: 20px;
    gap: 20px;
}


#hero{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-block: 100px;
    flex-wrap: wrap;
}

#hero h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    padding: 0;
    min-width: 400px;
    
}

#hero div{
    flex: 1;
}

#hero p {
    display: flex;
    flex-shrink: 0;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    margin-bottom: 0.5em;
}

#hero button{
    font-size: large;
    font-weight: 500;
    background-color: #3882F6;
    color: white;
    border-style: none;
    padding: 8px 24px;
    border-radius: 8px;
}

#hero-image-frame{
    display: flex;
    flex: 0;
    justify-content: center;
    background-color: grey;
    color: white;
    padding: 8em 200px;
    max-width: 200px;
}

#hero-image-frame img{
    display: flex;
    color: white;
    flex-shrink: 0;
}

#information{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 48px;
    padding-top: 32px;
    

}

#information-item-container{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    gap: 36px;
    max-width: 1000px;
    margin-bottom: 32px;

}


#quote-section{
    background-color: #E5E7EB;

}


#quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    max-width: 800px;
}

#quote-paragraph{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    padding: 0;
    margin: 0;
    padding: 0;
    font-style: italic;
}

#quotationist{
    font-size: larger;
    margin: 0;
    padding: 0;
}

.information-items p{
    text-align: center;
}

.information-box{
    aspect-ratio: 1/1;
    border-style: solid;
    border-width: 6px;
    
    border-color: #3882F6;
    border-radius: 16px;

}






